

<article   class="row mt-2 ms-10 border-bottom shadow">
  <header class="col text-start">
    <div class="col-text-right">
      <p class="text-end"><a href="">[..]</a></p>
    </div>
    <div class="col-9">

        <h3> {{unitem.Wookie.nom}}</h3>
        <h5>{{unitem.titre}}</h5>

    </div>

  </header>
  <div class="w-100"></div>
  <div class="col pb-2">
    <img class="img-fluid" src="{{unitem.image}}" >
  </div>
  <div class="w-100"></div>
  <div class="col footer pb-2">
      <div class="d-flex">
        <a type="button"  class="btn mr-2" href="">
          Ah!
          <i></i>
        </a>
      </div>
  </div>
</article>
